body {
  font-family: sans-serif;
  font-size: 17px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .box{
  position: absolute;
  width: 400px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(34, 16, 16, 0.1);
  border-radius: 4px;
  margin: 450px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;

}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -10px;
}



.col-50 {
  -ms-flex: 40%; /* IE10 */
  flex: 40%;
}

.col-50 {
  padding: 0 13px;
}



input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 5px;
  display: block;
}



